#events-table {
  width: 90%;
  height: 90vh;
  background-color: #202938;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
  padding: 20px 30px;
  overflow: hidden;
  position: relative;
}

.events-header {
  /* border: 1px solid white; */
  padding: 20px 0;
  border-bottom: 1px solid white;
  font-weight: 600;
  font-size: large;
}

.events-container {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  padding: 20px 0;
  overflow-y: auto;
  max-height: 70vh;
  box-sizing: border-box;
  scrollbar-width: none;
}

.events-container::-webkit-scrollbar {
  display: none;
}

.events-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  /* border: 1px solid white; */
}

.events-row-container {
  border-bottom: 1px solid gray;
  padding: 15px 0;
}

.events-row:hover {
  background-color: #384152;
  cursor: pointer;
}

.events-row div {
  /* border: 1px solid white; */
  padding: 0 10px;
}

h2 {
  display: none;
}

.date-time {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: left;
  /* border: 1px solid white; */
}

.small-screen-div {
  display: none !important;
}

/* for tablet screen */
@media screen and (min-width: 321px) and (max-width: 768px) {
  #events-table {
    width: 80%;
  }
  .events-header {
    display: none;
  }

  h2 {
    display: block;
    text-align: center;
    margin: 0;
    font-size: large;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }

  .events-row {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .date-time div {
    text-align: left;
  }

  .events-row div:nth-child(4) {
    border: 1px solid #8e54b7;
    border-radius: 25px;
  }

  .events-row div:nth-child(2),
  .events-row div:nth-child(3) {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    font-size: small;
  }

  .events-row div:nth-child(4) .icons,
  .events-row div:nth-child(4) p {
    /* border: 1px solid white; */
    margin: 5px 0;
  }

  .small-screen-div {
    display: block !important;
  }
}

/* for mobile screen */
@media screen and (max-width: 320px) {
  h2 {
    display: block;
    text-align: center;
    margin: 0;
    font-size: large;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }

  .events-header {
    display: none;
  }
  #events-table {
    width: 80%;
  }
}
